<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" convertWarningsToExceptions="true" convertNoticesToExceptions="true" convertErrorsToExceptions="true" backupStaticAttributes="false" processIsolation="false" stopOnFailure="true" backupGlobals="false" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <php>
      <ini name="display_errors" value="On" />
      <ini name="display_startup_errors" value="On" />
  </php>
  <coverage>
    <include>
      <directory>src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="All">
      <directory>tests/filter</directory>
    </testsuite>
  </testsuites>
</phpunit>
